@model artikbaslioyz.Database.deneme4
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/CSS/HomePage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="~/Images/csweb.png" type="image/x-icon">
    <title>IEEE DEU CS Web Sayfası</title>
</head>
<body>
    <header>
        <img src="~/Images/IEEE-CS_LogoTM-white.png" alt="IEEE CS" style="width: 200px;">
        <nav class="navigation">
            <a href="#">Ana Sayfa</a>
            <a href="#">Hakkımızda</a>
            <a href="#">İletişim</a>
            <button class="nav-button">Giriş Yap</button>
        </nav>
    </header>

    <div class="container">
        <div class="content">
            <img src="~/Images/IEEE-CS_LogoTM-black.png" alt="IEEE CS" style="width: 600px;">
            <img src="~/Images/IEEELogo.png" alt="IEEE" style="width: 600px;">
            <div class="texts">
                <h2>Hoş Geldiniz!</h2>
                <p>Devam Etmek İçin Lütfen Giriş Yapın.</p>
            </div>
            <div class="icons">
                <a href="#"><i class='bx bxl-facebook-square'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                <a href="#"><i class='bx bxl-discord-alt'></i></a>
            </div>
        </div>
        <div class="logreg-box">
            <div class="login-box">

                <span class="close-icon">
                    <i class='bx bx-x'></i>
                </span>

                <div class="form-box login">
                    <h2>Giriş Yap</h2>
                    <br>
                    <br>
                    <form action="">
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-envelope'></i></span>
                            <input type="text" name="" id="" required>
                            <label>Kullanıcı Adı</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                            <input type="password" name="" id="" required>
                            <label>Şifre</label>
                        </div>
                        <div class="forgor-remember">
                            <label>
                                <input type="checkbox" name="" id=""> Beni Hatırla
                            </label>
                            <a href="#" class="re-password">Şifreni mi Unuttun?</a>
                        </div>
                        <button type="submit" class="lgnbtn">Giriş Yap</button>
                        <div class="login-register">
                            <p>Hesabınız Yok Mu? <a href="#" class="register-link">Kayıt Ol</a></p>
                        </div>
                    </form>
                </div>
                <div class="form-box register">
                    <h2>Kayıt Ol</h2>
                    <br>
                    <br>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-user'></i></span>
                            @Html.EditorFor(model => model.uname, new { htmlAttributes = new { } })
                            <label>İsim</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-user'></i></span>
                            @Html.EditorFor(model => model.surname)
                            <label>Soyisim</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-user'></i></span>
                            @Html.EditorFor(model => model.username)
                            <label>Kullanıcı Adı</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-envelope'></i></span>
                            @Html.EditorFor(model => model.email)
                            <label>E-posta</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                            @Html.EditorFor(model => model.pword, new { htmlAttributes = new {  type="password"} })
                            <label>Şifre</label>
                        </div>
                        <!--<div class="input-box">
             <span class="icon"><i class='bx bxs-lock-alt'></i></span>
             <input type="password" name="" id="" required>
             <label>Şifre Tekrar</label>
         </div>-->
                        <button type="submit" class="lgnbtn">Kayıt Ol</button>
                        <div class="login-register">
                            <p>Hesabınız var mı? <a href="#" class="login-link">Giriş Yap</a></p>
                        </div>
                    }
                </div>

                <div class="form-box repassword_email">
                    <h2>Yeni Şifre</h2>
                    <br>
                    <br>
                    <form action="">
                        <div class="input-box">
                            <span class="icon"><i class='bx bxs-envelope'></i></span>
                            <input type="text" name="" id="" required>
                            <label>E-posta</label>
                        </div>
                            <button type="submit" class="lgnbtn">Kod Al</button>
                        <div class="rememberpass">
                            <a href="#" class="rememberpass-link">Şifreni Hatırladın mı?</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/HomePage.js"></script>
</body>
</html>